@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/sofia-pro-regular-az.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/sofia-pro-semi-bold-az.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/sofia-pro-bold-az.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/sofia-pro-black-az.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}